@import "tailwindcss";
/* Import a specific plugin */
@plugin "@tailwindcss/typography"; 
@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-900 text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
